.env
dev.env
snapshot.env
venv/
.bashrc
runGame.bat
.vscode
__pycache__/
gameObjects/__pycache__/
gameFunctions/__pycache__/
themeData/__pycache__/
dataFunctions/__pycache__/
rulesData/__pycache__/
updateLog.txt